{% extends 'base.twig' %}

{% block title %}{% for beer in beer %} {{ beer.biere_nom }}{% endfor %} | Samsam Café {% endblock %}

{% block beer %} {% endblock %}

{% block body %}
    <section id="beer">

{% for beer in beer %}

    {% if beer.biere_type == "ambrée" %}
        {% set classCouleur = "ambre" %}
    {% else %}
        {% set classCouleur = beer.biere_type %}
    {% endif %}

    <div class="row" id="retour-bar">
        <div class="small-8 medium-3 large-2 columns">
            <a href="{{ base_url() }}biere"><div class="retour_produit tag"><img src="{{ base_url() }}assets/img/back.svg" alt="">Une autre mousse ?</div></a>
        </div>
    </div>


    <div class="row">
        <div class="desc_produit">
            <div class="small-12 medium-12 large-6 columns">
                <div class="img-detail lol">
                    <img src="{{ beer.biere_photo }}" alt="{{  beer.biere_nom }}" class="onlyMobile">
                    <img src="{{ beer.biere_photo }}" alt="{{  beer.biere_nom }}" class="onlyDesk img-desk"></div>
            </div>
            <div class="small-12 medium-12 large-6 columns block-detail">
                <div class="row">
                    <div class="small-12 columns ">
                        <h1 class="{{ classCouleur }}">{{  beer.biere_nom }}</h1></div>

                </div>
                <div class="small-12 medium-12 columns ">
                    <p>{{  beer.biere_description }}</p>
                </div>

                <div class="row groupeTag small-12 medium-12 columns ">

                    <div class="small-6 columns ">
                        <div class="taginfo {{ classCouleur }}">{{ beer.biere_type }}</div>
                    </div>
                    <div class="small-6 columns ">
                        <div class="taginfo">{{ beer.biere_provenance }}</div>
                    </div>
                    <div class="small-6 columns ">
                        <div class="taginfo">{{ beer.biere_amertume }}</div>
                    </div>


                    <div class="small-6 columns ">
                        <div class="taginfo">{{ beer.biere_pourcentage }} %</div>
                    </div>
                    <div class="small-12 columns end ">
                        <div class="taginfo">{{ beer.biere_brasserie }}</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    </section>
{% endblock %}
